.about-txt {
    padding: 10%; 
}

.flex-container {
    display: flex;
}

.description {
    line-height: 2em;
    flex-direction: row;
}

.picture {
    flex-direction: row;
}

.profile-pic {
    max-width: 350px;
    margin-left: 20%;
    border: 10px solid var(--blueBack);
    border-radius: 10%;
}

.blue-link {
    color: var(--blue);
    border-bottom: 2px solid var(--blue) ;
    text-decoration: none;
}