.App {
  text-align: left;
}

h1.app {
  font-weight: 600;
  color: #161616;
  font-size: 2em;
}

h2.app {
  font-weight: 500;
  color: #161616;
  font-size: 1.5em;
}

h3.app {
  color: #161616;
  font-size: 1.17em;
}

h4.app {
  color: #161616;
  font-size: 1em;
}

p.app {
  font-weight: 300;
  color: #161616;
  font-size: 1em;
}
